<app-dashboard></app-dashboard>

<!-- main -->
<main class="mt-5 pt-3">
    <div class="container">
        <div class="pagetitle row mt-2">
            <div class="col-md-6">
                <h1>Liste des absences</h1>
                <nav>
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a routerLink="/dash">Dashboard</a></li>
                      <li class="breadcrumb-item">Stagiaire</li>
                      <li class="breadcrumb-item active">Absences</li> 
                    </ol>
                </nav>
            </div>
        </div>
        
        <div class="row mb-3">
            <div class="col-md-12">
                <div class="card">                    
                    <div class="card-body">
                        <table id="example" class="table datatable">
                            <thead>
                                <tr>
                                    <th scope="col">Absence ID</th>
                                    <th scope="col">Date d'absence</th>
                                    <th scope="col">Nature d'absence</th>
                                    <!-- <th scope="col">Justificatif</th> -->
                                    <th scope="col">Durée/jour</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- main -->