<app-dashboard></app-dashboard>

<!-- main -->
<main class="mt-5 pt-3">
    <div class="container">
        <div class="row mb-5 mt-3">
            <div class="col-md-6 fw-bold fs-3">Formations List</div>
            <div class="col-md-6">
                <button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#addFormation">
                    Add Formation
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="alert alert-success" *ngIf="message != ''">
                    {{message}}
                    <button type="button" class="close float-end" data-bs-dismiss="alert">x</button>                    
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header fw-bold">
                        Data Tables
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example" class="table table-striped data-table">
                                <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Cin</th>
                                        <th>Etablissement</th>                                        
                                        <th>Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- <tr *ngFor="let att of attestations;let i = index">
                                        <td>{{ att.nom }}</td>
                                        <td>{{ att.cin }}</td>
                                        <td>{{ att.etablissement }}</td>
                                        <td>{{ att.type }}</td>
                                        <td>
                                        </td>
                                    </tr>                                     -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- main -->
