<app-dashboard></app-dashboard>

<!-- main -->
<main class="mt-5 pt-3">
    <div class="container">
        <div class="pagetitle row mt-2">
            <div class="col-md-12">
                <h1>List d'absence des employes</h1>
                <nav>
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a routerLink="/dash">Dashboard</a></li>
                      <li class="breadcrumb-item">Absence</li>
                      <li class="breadcrumb-item active">Employe</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="alert alert-success" *ngIf="message != ''">
                    {{message}}
                    <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>                  
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <div class="card">                    
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-9"></div>
                            <div class="col-md-3 text-end">
                                <form action="" method="post">                            
                                    <div class="form-group d-flex mb-2">
                                        <input type="date" class="form-control date ms-5" name="searchByDate" 
                                            [(ngModel)]="searchByDate" (change)="onChangeDate()" required>                                        
                                    </div>
                                </form>
                            </div>
                            <table class="table datatable">
                                <thead>
                                    <tr>
                                        <th scope="col">Nom d'employe</th>
                                        <th scope="col">Date d'absence</th>
                                        <th scope="col">Nature d'absence</th>
                                        <!-- <th scope="col">Justificatif</th> -->
                                        <th scope="col">Durée/jour</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let absence of absences;let i = index">
                                        <td>{{ absence.userName }}</td>
                                        <td *ngIf="absence.dateAbs != null">{{ absence.dateAbs }}</td>
                                        <td *ngIf="absence.dateAbs == null">---</td>
                                        <!-- <td *ngIf="absence.natureAbsence != null">{{ absence.natureAbsence }}</td> -->
                                        <td>
                                            <select name="natureAbsence" [(ngModel)]="absence.natureAbsence" class="form-select">
                                                <option value="NONJUSTIFIEE">NONJUSTIFIEE</option>
                                                <option value="NAISSANCE">NAISSANCE</option>
                                                <option value="CIRCONCISION">CIRCONCISION</option>
                                                <option value="MARIAGE">MARIAGE</option>
                                                <option value="MALADIE">MALADIE</option>
                                                <option value="DECES">DECES</option>
                                            </select>
                                        </td>
                                        <!-- <td *ngIf="absence.natureAbsence == null">---</td> -->
                                        <!-- <td>                              
                                            <button (click)="downloadJustificative(absence.justificatif)" class="bg-transparent border-0 text-primary">{{ absence.justificatif }}</button>
                                        </td> -->
                                        <td *ngIf="absence.duree != null">{{ absence.duree }}</td>
                                        <td *ngIf="absence.duree == null">---</td>
                                        <td>
                                            <div class="me-auto d-flex">                                                
                                                <div class="form-check ms-3">
                                                    <input type="checkbox" class="form-check-input" name="newAbs"
                                                        (change)="onChange(absence.userId, absence.id, absence.natureAbsence)" [checked]="absence.status == 'yes'">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- <button type="button" class="btn btn-primary mt-2" (click)="addAbsence()">Ajouter</button> -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- main -->