<app-dashboard [dashboardTableOptions]="dashboardTableOptions"></app-dashboard>

<!-- main -->
<main class="mt-5 pt-3">
    <div class="container">
        <div class="row mb-5 mt-4">
            <div class="fw-bold fs-3">Liste des Demandes d'Attestation</div>
            <!-- <div class="col-md-6">
                <button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#addFormation">
                    Add Formation
                </button>
            </div> -->
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="alert alert-success" *ngIf="message != ''">
                    {{message}}
                    <button type="button" class="close float-end" data-bs-dismiss="alert">x</button>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header fw-bold">
                        Data Tables
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example" class="table table-striped data-table">
                                <thead>
                                    <tr>
                                        <th>User Id</th>
                                        <!-- <th>Poste</th> -->
                                        <!-- <th>Etablissement</th> -->
                                        <th>Type De Demande</th>
                                        <th>Date</th>
                                        <th>Etat</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- <tr *ngFor="let att of attestations;let i = index">
                                        <td>{{ att.nom }}</td>
                                        <td>{{ att.cin }}</td>
                                        <td>{{ att.etablissement }}</td>
                                        <td>{{ att.type }}</td>
                                        <td>
                                        </td>
                                    </tr>                                     -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- main -->

<div class="modal fade" id="infoDemande" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold">Demande d'attestation!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" *ngIf="demande">
                <p><strong class="text-muted">User Info:</strong></p>
                <div>
                    <table>
                        <tr>
                            <th>Id :</th>
                            <td><strong>{{demande.user.id}}</strong></td>
                        </tr>
                        <tr>
                            <th>Nom :</th>
                            <td><strong>{{demande.user.nom}}</strong></td>
                        </tr>
                        <tr>
                            <th>Prenom :</th>
                            <td><strong>{{demande.user.prenom}}</strong></td>
                        </tr>
                        <tr>
                            <th>Genre :</th>
                            <td><strong>{{demande.user.genre}}</strong></td>
                        </tr>
                        <tr>
                            <th>Nom :</th>
                            <td><strong>{{demande.user.nom}}</strong></td>
                        </tr>
                        <tr>
                            <th>Prenom :</th>
                            <td><strong>{{demande.user.prenom}}</strong></td>
                        </tr>
                        <tr>
                            <th>Email :</th>
                            <td><strong>{{demande.user.email}}</strong></td>
                        </tr>
                        <tr>
                            <th>Tel :</th>
                            <td><strong>{{demande.user.tel}}</strong></td>
                        </tr>
                        <tr>
                            <th>UserRole :</th>
                            <td><strong>{{demande.user.userRole}}</strong></td>
                        </tr>
                        <!-- <tr>
                            <th>EmailVerified :</th>
                            <td><strong>{{demande.user.emailVerified}}</strong></td>
                        </tr> -->

                        <p *ngIf="demande.stagiaire"><br><strong class="text-muted">Stagiaire Info:</strong></p>
                        <tr *ngIf="demande.stagiaire">
                            <th>Stagiaire Id :</th>
                            <td><strong>{{demande.stagiaire.id}} </strong></td>
                        </tr>
                        <tr *ngIf="demande.stagiaire">
                            <th>Civilité :</th>
                            <td><strong>{{demande.stagiaire.civilite}} </strong></td>
                        </tr>
                        <tr *ngIf="demande.stagiaire">
                            <th>Niveau d'études :</th>
                            <td><strong>{{demande.stagiaire.niveau_etudes}} </strong></td>
                        </tr>
                        <tr *ngIf="demande.stagiaire">
                            <th>Vill :</th>
                            <td><strong>{{demande.stagiaire.ville}} </strong></td>
                        </tr>
                        <tr *ngIf="demande.stagiaire">
                            <th>Tele :</th>
                            <td><strong>{{demande.stagiaire.telephone}} </strong></td>
                        </tr>
                        <tr *ngIf="demande.stagiaire">
                            <th>CV :</th>
                            <td><strong>{{demande.stagiaire.cv}} </strong></td>
                        </tr>
                        <tr *ngIf="demande.stagiaire">
                            <th>LinkedIn Url :</th>
                            <td><strong>{{demande.stagiaire.LinkedIn_URL}} </strong></td>
                        </tr>
                        <p *ngIf="demande.employe"><br><strong class="text-muted">Employé Info:</strong></p>
                        <tr *ngIf="demande.employe">
                            <th>Employé Id :</th>
                            <td><strong>{{demande.employe.id}} </strong></td>
                        </tr>
                        <tr *ngIf="demande.employe">
                            <th>Date d'Embauche :</th>
                            <td><strong>{{demande.employe.debutAmbauche}} </strong></td>
                        </tr>
                        <tr *ngIf="demande.employe">
                            <th>Departement :</th>
                            <td><strong>{{demande.employe.departement}} </strong></td>
                        </tr>
                        <tr *ngIf="demande.employe">
                            <th>Poste :</th>
                            <td><strong>{{demande.employe.poste}} </strong></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>