<app-dashboard></app-dashboard>

<!-- main -->
<main class="mt-5 pt-3">
    <div class="container">
        <div class="row mb-5 mt-3">
            <div class="col-md-6 fw-bold fs-3">Plans</div>
            <div class="col-md-1"></div>
            <div class="col-md-3 ">
                <button type="button" class="btn btn-primary btn-lg float-end" data-bs-toggle="modal" data-bs-target="#addFormationToPlan">
                    Add Formation To Plan
                </button>                
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary btn-lg float-end me-2" data-bs-toggle="modal" data-bs-target="#addPlan">
                    Add Plan
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="alert alert-success" *ngIf="message != ''">
                    {{message}}
                    <button type="button" class="close float-end" data-bs-dismiss="alert">x</button>                    
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        Data Tables
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example" class="table table-striped data-table">
                                <thead>
                                    <tr>
                                        <th>Plan Name</th>
                                        <th>Plan Date</th>
                                        <th>responsable Name</th>
                                        <th>Formations</th>                                        
                                        <th>Plan</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let plan of plans;let i = index">
                                        <td>{{ plan.name }}</td>
                                        <td>{{ plan.planDate }}</td>
                                        <td>{{ plan.responsable.employe.nom }}</td>
                                        <td><button class="btn btn-success me-2">Show Formations</button></td>
                                        <td>
                                            <div class="me-auto d-flex">
                                                <button class="btn btn-danger">Delete</button>
                                            </div>
                                        </td>
                                    </tr>                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- main -->

<!-- Add Plan Modal -->
<div class="modal fade" id="addPlan" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold">Add Plan</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="bi bi-x-lg"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <input type="text" required placeholder="Plan Name" name="name" class="form-control"
                                [(ngModel)]="newPlan.name">
                        </div>                                                
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <input type="date" required placeholder="Date" name="planDate" class="form-control"
                                [(ngModel)]="newPlan.planDate">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <select class="form-select" title="Select an responsable" aria-label="Default select example"
                            name="responsableID" [(ngModel)]="newPlan.responsableID">
                                <option selected>Select an responsable</option>
                                <option *ngFor="let coll of Collaborateurs" value="{{coll.id}}">{{coll.employe.nom + ' | ' + coll.employe.cin}} </option>                                
                              </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="savePlan()">Save</button>
            </div>
        </div>
    </div>
</div>
<!-- Add Plan Modal -->

<!-- Add Formation To Plan Modal -->
<div class="modal fade" id="addFormationToPlan" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold">Add Formation(s) To Plan</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="bi bi-x-lg"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post">

                    <div class="row mt-3">
                        <div class="col-md-12">
                            <ng-multiselect-dropdown name="selectedItem"
                                [placeholder]="'Choose Plan'"
                                [settings]="dropdownPlanSettings"
                                [data]="plans"
                                [(ngModel)]="selectedItem">
                            </ng-multiselect-dropdown>                                                           
                        </div>
                    </div>
                                                           
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <ng-multiselect-dropdown name="selectedItems"
                                [placeholder]="'Add Formation(s) To This Plan'"
                                [settings]="dropdownFormationSettings"
                                [data]="dropdownListFormation"
                                [(ngModel)]="selectedItems">
                            </ng-multiselect-dropdown>                                                           
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="addFormatonToPlan()">Save</button>
            </div>
        </div>
    </div>
</div>
<!-- Add Formation To Plan Modal -->