<app-dashboard></app-dashboard>

<!-- main -->
<main class="mt-5 pt-3">
    <div class="container">
        <div class="row mb-5 mt-3">
            <div class="col-md-6 fw-bold fs-3">List Demande Absence</div>            
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="alert alert-success" *ngIf="message != ''">
                    {{message}}
                    <button type="button" class="close float-end" data-bs-dismiss="alert">x</button>                    
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header d-flex">
                        <div class="col-md-6">Data Tables</div>
                        <div class="col-md-3"></div>
                        <div class="col-md-3">
                            <form action="" method="post" class="d-flex">                            
                                <div class="form-group d-flex">
                                    <input type="date" class="form-control ms-5" name="searchByDate" [(ngModel)]="searchByDate" required>
                                    <button class="btn btn-primary" (click)="search()">Search</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example" class="table table-striped data-table">
                                <thead>
                                    <tr>
                                        <th>Employee Name</th>
                                        <th>Date Debut</th>
                                        <th>Date Fin</th>
                                        <th>Nature Of Absence</th>
                                        <!-- <th>Justificatif</th> -->                                        
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let demande of demandes;let i = index">
                                        <td>{{ demande.employe.nom }}</td>
                                        <td>{{ demande.dateDebut }}</td>
                                        <td>{{ demande.dateFin }}</td>
                                        <td>{{ demande.natureAbsence }}</td>
                                        <!-- <td>{{ demande.justificatif }}</td> -->
                                        <td>
                                            <div class="me-auto d-flex">
                                                <button class="btn btn-warning me-2"
                                                    data-bs-toggle="modal" data-bs-target="#acceptAbsence">
                                                    Accept
                                                </button>
                                                <button class="btn btn-danger"
                                                    data-bs-toggle="modal" data-bs-target="#refuseAbsence">
                                                    Refuse
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- main -->