<app-dashboard [dataLength]=dataLength></app-dashboard>

<!-- main -->
<main class="mt-5 pt-3">
    <div class="container">
        <div class="pagetitle row mt-2">
            <div class="col-md-6">
                <h1>Liste des formations</h1>
                <nav>
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a routerLink="/dash">Dashboard</a></li>
                      <li class="breadcrumb-item active">Formations</li>
                    </ol>
                </nav>
            </div>
            <div class="col-md-6 text-end">
                <button type="button" class="btn btn-primary btn-sm p-1 fw-bold" (click)="onAdd()"
                    data-bs-toggle="modal" data-bs-target="#addFormation">
                    Ajouter Formation
                </button>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="alert alert-success" *ngIf="message != ''">
                    {{message}}
                    <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row mb-3">            
            <div class="col-md-12">
                <div class="card">                    
                    <div class="card-body">
                        <table id="example" class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Nom de formation</th>
                                    <th scope="col">Date de début</th>
                                    <th scope="col">Durée/jour</th>
                                    <th scope="col">Objectif</th>                                        
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- <tr *ngFor="let formation of formations;let i = index">
                                    <th scope="row">{{ formation.name }}</th>
                                    <td>{{ formation.formationDate }}</td>
                                    <td>{{ formation.duree }}</td>
                                    <td>{{ (formation.objectif.length>40)? (formation.objectif | slice:0:40)+'...':(formation.objectif) }}</td>
                                    <td>
                                        <div class="me-auto d-flex">
                                            <button class="btn btn-primary me-2 btn-sm" (click)="dropDownFormation(formation.id)"
                                                data-bs-toggle="modal" data-bs-target="#addCollToFormation">
                                                <i class="bi bi-plus-circle-fill"></i>
                                            </button>
                                            <button class="btn btn-warning me-2 btn-sm" (click)="editFormation(formation)"
                                                data-bs-toggle="modal" data-bs-target="#addFormation">
                                                <i class="bi bi-pencil-square"></i>
                                            </button>
                                            <button class="btn btn-success me-2 btn-sm" (click)="showPlan(formation)"
                                                data-bs-toggle="modal" data-bs-target="#show">
                                                <i class="bi bi-eye-fill"></i>
                                            </button>
                                            <button class="btn btn-primary me-2 btn-sm" (click)="showColl(formation.id)"
                                                data-bs-toggle="modal" data-bs-target="#showColl">
                                                <i class="bi bi-eyeglasses"></i>
                                            </button>
                                            <button class="btn btn-danger btn-sm" (click)="confirmDeleteFormation(formation.id, i)"
                                                data-bs-toggle="modal" data-bs-target="#deleteFormation">
                                                <i class="bi bi-trash3-fill"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr> -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- main -->

<!-- Add formation Modal -->
<div class="modal fade" id="addFormation" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold" *ngIf="case == 'add'">Ajouter Formation</h5>
                <h5 class="modal-title fw-bold" *ngIf="case == 'update'">Modifier Formation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label for="" class="mb-2 fw-bold text-secondary ms-2">Nom de formation</label>
                            <input type="text" required placeholder="Formation Name" name="name" 
                             [(ngModel)]="newFormation.name" class="form-control">
                        </div>                                           
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label for="" class="mb-2 fw-bold text-secondary ms-2">Durée/jours</label>
                            <input type="text" required placeholder="Duration" name="duree"
                             [(ngModel)]="newFormation.duree" class="form-control">
                        </div>                                               
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label for="" class="mb-2 fw-bold text-secondary ms-2">Date de début</label>
                            <input type="date" required placeholder="Start Date" name="formationDate"
                            [(ngModel)]="newFormation.formationDate" class="form-control">
                        </div>
                    </div>                    
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label for="" class="mb-2 fw-bold text-secondary ms-2">Objectif</label>                            
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="objectif"
                             [(ngModel)]="newFormation.objectif"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" *ngIf="case == 'add'">Fermer</button>
                <button type="button" class="btn btn-primary" (click)="saveFormation()" *ngIf="case == 'add'">Ajouter</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" *ngIf="case == 'update'">Fermer</button>
                <button type="button" class="btn btn-warning" (click)="updateFormation()" *ngIf="case == 'update'">Modifier</button>
            </div>
        </div>
    </div>
</div>
<!-- Add formation Modal -->

<!-- Add Coll To form Modal -->
<div class="modal fade" id="addCollToFormation" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold">Ajouter employe au cette formation</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="bi bi-x-lg"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post">                                                           
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label for="" class="mb-2 fw-bold text-secondary ms-2">Choisir un collaborateur</label>
                            <ng-multiselect-dropdown name="selectedItems"
                                [placeholder]="'Choisir un collaborateur'"
                                [settings]="dropdownCollSettings"
                                [data]="dropdownListColl"
                                [(ngModel)]="selectedItems">
                            </ng-multiselect-dropdown>                                                           
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary" (click)="addCollToFormaton()">Ajouter</button>
            </div>
        </div>
    </div>
</div>
<!-- Add coll To form Modal -->

<!-- Delete formation Modal -->
<div class="modal fade" id="deleteFormation" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold">Confirmation!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure, you want to delete this formation?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" (click)="deleteFormation(formationID, index)">Yes</button>
            </div>
        </div>
    </div>
</div>
<!-- Delete formation Modal -->

<!-- Show Plans Modal -->
<div class="modal fade" id="show" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold">List des plans de cette formation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th>Nom de plan</th>                                    
                                <th>Date de plan</th>
                                <th>Responsable</th>                                        
                                <!-- <th>Action</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let plan of plans;let i = index">
                                <td>{{ plan.name }}</td>
                                <td>{{ plan.planDate }}</td>
                                <td>{{ plan.responsable.employe.nom }}</td>
                                <!-- <td>
                                    <button class="btn btn-danger me-2" (click)="deleteFormatonFromPlan(formation.id, planId, i)"
                                        data-bs-target="#showFormations" data-bs-toggle="modal">
                                        Delete
                                    </button>
                                </td> -->
                                
                            </tr>                                    
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
<!-- Show Plans Modal -->

<!-- Show Coll Modal -->
<div class="modal fade" id="showColl" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold">List des employes Dans cette formation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table datatable">
                                <thead>
                                    <tr>
                                        <th scope="col">Nom d'employe</th>
                                        <th scope="col">Cin</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Naissance</th>                                        
                                        <th scope="col">Début Embauche</th>
                                        <th scope="col">Département</th>
                                        <th scope="col">Poste</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let coll of employes; let i = index">
                                        <td>{{coll.employe.nom}}</td>
                                        <td>{{coll.employe.cin}}</td>
                                        <td>{{coll.employe.email}}</td>
                                        <td>{{coll.employe.naissance | date:"shortDate"}}</td>
                                        <td>{{coll.employe.debutAmbauche | date:"shortDate"}}</td>
                                        <td>{{coll.employe.departement}}</td>
                                        <td>{{coll.employe.poste}}</td>
                                        <td>
                                            <div class="me-auto d-flex">                                            
                                                <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteEmplFromForm"
                                                    (click)="confirmDeleteEmploye(coll.id, i)">
                                                    <i class="bi bi-trash3-fill"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>                                     
                                </tbody>
                            </table>
                        </div>
                    </div>                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
<!-- Show Coll Modal -->

<!-- Delete Coll From Formation Modal -->
<div class="modal fade" id="deleteEmplFromForm" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold">Confirmation!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure, you want to delete this Employe From this Formation?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" (click)="deleteEmplFromFormation(formationID)">Yes</button>
            </div>
        </div>
    </div>
</div>
<!-- Delete Coll From Formation Modal -->

<!-- <div class="modal fade" id="validForm" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold">Form Validation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="newForm" novalidate>
                    <div class="form-group">
                      <label class="center-block">Name:
                        <input class="form-control" formControlName="name">
                      </label>
                    </div>
                    <div *ngIf="newForm.controls['name'].invalid && newForm.controls['name'].touched" class="alert alert-danger">
                        <div *ngIf="newForm.controls['name'].errors.required">
                        Name is required.
                      </div>
                    </div>
              </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" (click)="deleteEmplFromFormation(formationID)">Yes</button>
            </div>
        </div>
    </div>
</div> -->