<app-dashboard></app-dashboard>

<!-- main -->
<main class="mt-5 pt-3">
    <div class="container">
        <div class="row mb-5 mt-3">
            <div class="col-md-6 fw-bold fs-3">Formations List</div>
            <div class="col-md-6">
                <button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#addFormation">
                    Add Formation
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="alert alert-success" *ngIf="message != ''">
                    {{message}}
                    <button type="button" class="close float-end" data-bs-dismiss="alert">x</button>                    
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header fw-bold">
                        Data Tables
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example" class="table table-striped data-table">
                                <thead>
                                    <tr>
                                        <th>Formation Name</th>
                                        <th>Start Date</th>
                                        <th>Duration</th>
                                        <th>Objective</th>                                        
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let formation of formations;let i = index">
                                        <td>{{ formation.name }}</td>
                                        <td>{{ formation.formationDate }}</td>
                                        <td>{{ formation.duree }}</td>
                                        <td>{{ (formation.objectif.length>40)? (formation.objectif | slice:0:40)+'...':(formation.objectif) }}</td>
                                        <td>
                                            <div class="me-auto d-flex">
                                                <button class="btn btn-warning me-2" (click)="editFormation(formation)"
                                                    data-bs-toggle="modal" data-bs-target="#updateFormation">
                                                    Edit
                                                </button>
                                                <button class="btn btn-success me-2" (click)="showPlan(formation)"
                                                    data-bs-toggle="modal" data-bs-target="#show">
                                                    Show
                                                </button>
                                                <button class="btn btn-danger" (click)="confirmDeleteFormation(formation.id, i)"
                                                    data-bs-toggle="modal" data-bs-target="#deleteFormation">
                                                    Delete
                                                </button>
                                            </div>
                                        </td>
                                    </tr>                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- main -->

<!-- Add formation Modal -->
<div class="modal fade" id="addFormation" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold">Add Formation</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="bi bi-x-lg"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label for="" class="mb-2 fw-bold text-secondary ms-2">Formation Name</label>
                            <input type="text" required placeholder="Formation Name" name="name" 
                             [(ngModel)]="newFormation.name" class="form-control">
                        </div>
                        <div class="col-md-4">
                            <label for="" class="mb-2 fw-bold text-secondary ms-2">Duration</label>
                            <input type="text" required placeholder="Duration" name="duree"
                             [(ngModel)]="newFormation.duree" class="form-control">
                        </div>
                        <div class="col-md-2">                            
                            <label for="" class="mb-2 fw-bold text-secondary ms-2">.</label>
                            <select name="dr" [(ngModel)]="dr" class="form-select">
                                <option value="Day(s)" selected>Day(s)</option>
                                <option value="Week(s)">Week(s)</option>
                                <option value="Month(s)">Month(s)</option>
                                <option value="Year(s)">Year(s)</option>
                            </select>
                        </div>                        
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label for="" class="mb-2 fw-bold text-secondary ms-2">Start Date</label>
                            <input type="date" required placeholder="Start Date" name="formationDate"
                            [(ngModel)]="newFormation.formationDate" class="form-control">
                        </div>
                    </div>                    
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label for="" class="mb-2 fw-bold text-secondary ms-2">Objective</label>                            
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="objectif"
                             [(ngModel)]="newFormation.objectif"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="saveFormation()">Save</button>
            </div>
        </div>
    </div>
</div>
<!-- Add formation Modal -->

<!-- Update formation Modal -->
<div class="modal fade" id="updateFormation" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold">Update Formation</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="bi bi-x-lg"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label for="" class="mb-2 fw-bold text-secondary ms-2">Formation Name</label>                            
                            <input type="text" required placeholder="Formation Name" name="name" 
                             [(ngModel)]="updFormation.name" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label for="" class="mb-2 fw-bold text-secondary ms-2">Duration</label>
                            <input type="text" required placeholder="Duration" name="duree"
                             [(ngModel)]="updFormation.duree" class="form-control">
                        </div>                        
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label for="" class="mb-2 fw-bold text-secondary ms-2">Start Date</label>
                            <input type="date" required placeholder="Start Date" name="formationDate"
                            [(ngModel)]="updFormation.formationDate" class="form-control">
                        </div>
                    </div>                    
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label for="" class="mb-2 fw-bold text-secondary ms-2">Objective</label>
                            <!-- <label for="exampleFormControlTextarea1" class="form-label">Objective</label> -->
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="objectif"
                             [(ngModel)]="updFormation.objectif"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="updateFormation()">Update</button>
            </div>
        </div>
    </div>
</div>
<!-- Edit formation Modal -->

<!-- Delete formation Modal -->
<div class="modal fade" id="deleteFormation" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold">Delete Formation</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="bi bi-x-lg"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure, you want to delete this formation?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" (click)="deleteFormation(deleteFormationId, index)">Yes</button>
            </div>
        </div>
    </div>
</div>
<!-- Delete formation Modal -->

<!-- Show Plans Modal -->
<div class="modal fade" id="show" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold">List Plans of this formation</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="bi bi-x-lg"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="table-responsive">
                        <table id="example" class="table table-striped data-table">
                            <thead>
                                <tr>
                                    <th>Plan Name</th>                                    
                                    <th>Plan Date</th>
                                    <th>Responsable</th>                                        
                                    <!-- <th>Action</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let plan of plans;let i = index">
                                    <td>{{ plan.name }}</td>
                                    <td>{{ plan.planDate }}</td>
                                    <td>{{ plan.responsable.employe.nom }}</td>
                                    <!-- <td>
                                        <button class="btn btn-danger me-2" (click)="deleteFormatonFromPlan(formation.id, planId, i)"
                                            data-bs-target="#showFormations" data-bs-toggle="modal">
                                            Delete
                                        </button>
                                    </td> -->
                                    
                                </tr>                                    
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Show Plans Modal -->