<app-dashboard></app-dashboard>

<!-- main -->
<main class="mt-5 pt-3">
    <div class="container-fluid">
        <div class="row my-3">
            <div class="col-md-12 fw-bold fs-3">Dashboard</div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3">
                <div class="card text-white bg-primary h-100" >
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Primary card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-white bg-warning h-100" >
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Primary card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-white bg-success h-100" >
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Primary card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-white bg-danger h-100" >
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Primary card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content. lo</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12 fw-bold fs-3">Charts</div>
        </div>
        <div class="row my-4">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header"> Charts </div>
                    <div class="card-body">
                        <canvas class="charts" id="myChart" width="400" height="200"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header"> Charts </div>
                    <div class="card-body">
                        <canvas class="charts" id="myChart" width="400" height="200"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12 fw-bold fs-3">Tables</div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        Data Tables
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example" class="table table-striped data-table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Position</th>
                                        <th>Office</th>
                                        <th>Age</th>
                                        <th>Start date</th>                                        
                                        <th>Salary</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>zaki</td>
                                        <td>Developper</td>
                                        <td>Tokyo</td>
                                        <td>25</td>
                                        <td>10/10/2023</td>
                                        <td>$3000</td>
                                    </tr>
                                    <tr>
                                        <td>jamal</td>
                                        <td>Developper</td>
                                        <td>Tokyo</td>
                                        <td>25</td>
                                        <td>10/10/2023</td>
                                        <td>$3000</td>
                                    </tr>
                                    <tr>
                                        <td>mostafa</td>
                                        <td>Developper</td>
                                        <td>Tokyo</td>
                                        <td>25</td>
                                        <td>10/10/2023</td>
                                        <td>$3000</td>
                                    </tr>
                                    <tr>
                                        <td>simo</td>
                                        <td>Developper</td>
                                        <td>Tokyo</td>
                                        <td>25</td>
                                        <td>10/10/2023</td>
                                        <td>$3000</td>
                                    </tr>
                                    <tr>
                                        <td>zaki</td>
                                        <td>Developper</td>
                                        <td>Tokyo</td>
                                        <td>25</td>
                                        <td>10/10/2023</td>
                                        <td>$3000</td>
                                    </tr>
                                    <tr>
                                        <td>zaki</td>
                                        <td>Developper</td>
                                        <td>Tokyo</td>
                                        <td>25</td>
                                        <td>10/10/2023</td>
                                        <td>$3000</td>
                                    </tr>
                                    <tr>
                                        <td>zaki</td>
                                        <td>Developper</td>
                                        <td>Tokyo</td>
                                        <td>25</td>
                                        <td>10/10/2023</td>
                                        <td>$3000</td>
                                    </tr>
                                    <tr>
                                        <td>zaki</td>
                                        <td>Developper</td>
                                        <td>Tokyo</td>
                                        <td>25</td>
                                        <td>10/10/2023</td>
                                        <td>$3000</td>
                                    </tr>
                                    <tr>
                                        <td>zaki</td>
                                        <td>Developper</td>
                                        <td>Tokyo</td>
                                        <td>25</td>
                                        <td>10/10/2023</td>
                                        <td>$3000</td>
                                    </tr>
                                    <tr>
                                        <td>zaki</td>
                                        <td>Developper</td>
                                        <td>Tokyo</td>
                                        <td>25</td>
                                        <td>10/10/2023</td>
                                        <td>$3000</td>
                                    </tr>
                                    <tr>
                                        <td>zaki</td>
                                        <td>Developper</td>
                                        <td>Tokyo</td>
                                        <td>25</td>
                                        <td>10/10/2023</td>
                                        <td>$3000</td>
                                    </tr>
                                    <tr>
                                        <td>zaki</td>
                                        <td>Developper</td>
                                        <td>Tokyo</td>
                                        <td>25</td>
                                        <td>10/10/2023</td>
                                        <td>$3000</td>
                                    </tr>
                                    <tr>
                                        <td>zaki</td>
                                        <td>Developper</td>
                                        <td>Tokyo</td>
                                        <td>25</td>
                                        <td>10/10/2023</td>
                                        <td>$3000</td>
                                    </tr>
                                    <tr>
                                        <td>zaki</td>
                                        <td>Developper</td>
                                        <td>Tokyo</td>
                                        <td>25</td>
                                        <td>10/10/2023</td>
                                        <td>$3000</td>
                                    </tr>
                                    <tr>
                                        <td>Hamid</td>
                                        <td>Developper</td>
                                        <td>Tokyo</td>
                                        <td>25</td>
                                        <td>10/10/2023</td>
                                        <td>$3000</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- main -->